.page-transition_wrapper {
  z-index: 99999999 !important;
}

/* Scrollbar styles */
@media screen and (min-width: 1201px) {
  ::-webkit-scrollbar-thumb {
    background: #f4f4f4;
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    background: #0A0A0B;
  }
}




/* Lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* ************************ */
/* LINKS HOVER */

.rolling-text {
  display: inline-block;
  text-decoration: none;
  overflow: hidden !important;
}

.rolling-text:hover .letter2,
.rolling-text.play .letter2 {
  transform: translateY(-100%);
}

.rolling-text .letter2 {
  display: inline-block;
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.letter2:nth-child(1) {
  transition-delay: 0s;
}

.letter2:nth-child(2) {
  transition-delay: 0.015s;
}

.letter2:nth-child(3) {
  transition-delay: 0.03s;
}

.letter2:nth-child(4) {
  transition-delay: 0.045s;
}

.letter2:nth-child(5) {
  transition-delay: 0.06s;
}

.letter2:nth-child(6) {
  transition-delay: 0.075s;
}

.letter2:nth-child(7) {
  transition-delay: 0.09s;
}

.letter2:nth-child(8) {
  transition-delay: 0.105s;
}

.letter2:nth-child(9) {
  transition-delay: 0.12s;
}

.letter2:nth-child(10) {
  transition-delay: 0.135s;
}

.letter2:nth-child(11) {
  transition-delay: 0.15s;
}

.letter2:nth-child(12) {
  transition-delay: 0.165s;
}

.letter2:nth-child(13) {
  transition-delay: 0.18s;
}

.letter2:nth-child(14) {
  transition-delay: 0.195s;
}

.letter2:nth-child(15) {
  transition-delay: 0.21s;
}

.letter2:nth-child(16) {
  transition-delay: 0.225s;
}

.letter2:nth-child(17) {
  transition-delay: 0.24s;
}

.letter2:nth-child(18) {
  transition-delay: 0.255s;
}

.letter2:nth-child(19) {
  transition-delay: 0.27s;
}

.letter2:nth-child(20) {
  transition-delay: 0.285s;
}

.letter2:nth-child(21) {
  transition-delay: 0.3s;
}



/* Global styles */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none
}

a {
  color: inherit;
  text-decoration: none;
}




/* Custom styles */
.form-field-btn {
  pointer-events: none;
}



/* Accordion styles */
.ac {
  margin-top: unset;
  border: none;
  background-color: transparent;
}

.ac .ac-trigger,
.ac .ac-panel {
  transition-timing-function: ease-in-out;
}

.ac .ac-trigger {
  font: unset;
  color: unset;
  text-align: unset;
  width: 100%;
  padding: unset;
  display: block;
  cursor: pointer;
  background-color: transparent;
  transition: color .25s ease;
  position: relative;
  text-decoration: none;
  margin: 0;
  border: 0;
}

.ac .ac-trigger::after {
  content: "";
  text-align: unset;
  width: unset;
  -webkit-transform: unset;
  transform: unset;
  position: unset;
  right: unset;
  top: unset;
}

.ac.is-active>.ac-header .ac-trigger::after {
  content: "";
}

.ac .ac-panel .ac-text {
  font: unset;
  color: unset;
  padding: unset;
  margin: 0;
}

.ac img.accordeon-icon {
  transition: transform .7s ease-in-out;
}

.ac.is-active img.accordeon-icon {
  transform: rotate(315deg);
}


/* Reviews styles */
.flickity-viewport {
  width: 100%;
  overflow: visible !important;
}

.flickity-button {
  display: none;
}